.html{
height: 100%;
}

.background{
background-size: cover;
background-image: url("https://t.mwm.moe/fj/");
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
height: 100%;
width: 100%;
margin: 0;

}
.logo{
margin: 0 auto;
display: block;
border-radius: 200px;
margin-top: 35%;
height: 30%;
}
.name{
text-align: center;
margin-top: 15px;
font-size: 300%;
}
.bilibili{
-webkit-backdrop-filter: blur(5px);
backdrop-filter: blur(5px);
height: 10%;
border-radius: 200px;
display: block;
}
.div2{
margin: 0 auto;


}